<div class="modal-header">
    <div class="modal-button">
        <button class="btn btn-success" ng-click="ok()" >OK</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
    <h3 class="modal-title">New User</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nombre" ng-model="nombre"/>
        <input type="text" class="form-control" placeholder="Apellido" ng-model="apellido"/>
    </div>
</div><!-- .modal-body -->
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>